html {
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

  *,
  *::after,
  *::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }

  body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
    color: rgb(21, 255, 0);
  }

.portfolio-box {
    width: 350px;
    height: 250px;
}

.img-styles {
    width: 400px;
    height: 350px
}

.enunciado {
    padding: 200px;
}

.page-section{
    color: white;
}

.img-service{
    width: 100px;
    height: 100px;
}

.project-name{
    display: flex;
}

.page-section {
    padding-top: 100px;
}
